<div class="conteiner-fluid">
    <div class="row">
        <div class="col text-center">
                <img class="hr-mh-300" src="./assets/img/tulogo.png">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">JAVA</h1>
            <h1 class="text-center">Spring Hibernate/JPA</h1> 
            <h1 class="text-center">MySQL</h1> 
            <h1 class="text-center">Angular4 Bootstrap Redux RxJS Observable</h1>
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Ivo Peev</h3>

            <div class="text-center">F.N. 121316040</div>
            <div class="text-center">igpeev@yahoo.com</div>
            <div class="text-center">
                <a href="http://cs.tu-sofia.bg/" target="_blank">http://cs.tu-sofia.com</a>
            </div>
        </div>
    </div>
</div>



            

